/* You can add global styles to this file, and also import other style files */
.text-azul{
	color:blue;
}

.input-ok{
	border: 1px solid black;
	color: black;

}


.input-error{
	border: 1px solid red;
	color: red;

}